<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/nav.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script defer src="/scripts/network.js"></script>
</head>

<body>

  <form>
    <label>API search</label>
    <input type="text">
    <button type="submit">submit</button>
  </form>

  <form id="api-form" action="/api/users/" method="POST">
    <label for="api-text">New TODO:</label>
    <textarea name="text" id="api-todo"></textarea>
    <button id="api-button" type="submit">submit</button>

  </form>

</body>

</html>