<!DOCTYPE html>
<html lang="en">

<head>
  <title>Smart TODO!</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- External CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    type="text/css" />

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/user_index.css" />

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- App JS -->
  <script src="/scripts/todo.js"></script>

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Darumadrop+One&family=Press+Start+2P&display=swap"
    rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</head>

<body>
  <div id="userIndexBody">
    <nav>
      <a href="#content">
        <p>SMART TODO</p>
      </a>
      <div id="categories">
        <ul>
          <li><a href="#cat-0">
              <span>To Watch</span>
            </a></li>
          <li><a href="#cat-1">
              <span>To Read</span>
            </a></li>
          <li><a href="#cat-2">
              <span>To Eat</span>
            </a></li>
          <li><a href="#cat-3">
              <span>To Buy</span>
            </a></li>
        </ul>
      </div>
      <form method="POST" action="/users/logout">
        <button type="submit" id="logout" class="button-2">Log out</button>
      </form>
    </nav>

    <div id="content">
      <div id="first-page">
        <div id="user-info">
          <div id="greeting">
            <p>Hi,</p>
            <form method="GET" action="/users/profile">
              <button id="profile-button">
                <%= user.name%>
              </button>
            </form>
          </div>
          <% const imgSrc=`../avatars/${pic}` %>
            <img id="profile-pic" src=<%=imgSrc%>>
        </div>
        <form id="new-todo-form" method="POST" action="/api/users/">
          <div class="form-group">
            <label for="new-todo"></label>
            <input type="text" class="form-control" id="new-todo" name="thing">
          </div>
          <button id="todo-button" type="submit" class="btn btn-primary">To Do!</button>
        </form>
        <div id="cat-all">
          <div id="main-todo"></div>
        </div>
      </div>
      <div id="cat-0">
        <p>To Watch</p>
        <div id="todo-0"></div>
      </div>
      <div id="cat-1">
        <p>To Read</p>
        <div id="todo-1"></div>
      </div>
      <div id="cat-2">
        <p>To Eat</p>
        <div id="todo-2"></div>
      </div>
      <div id="cat-3">
        <p>To Buy</p>
        <div id="todo-3"></div>
      </div>
    </div>
  </div>
  <marquee>
    <%= user.motto %>
  </marquee>
</body>

</html>