#selectbox {
  display: flex;
  width: 300px;
  margin-left: 250px;
}

.pfp-images {
  margin-left: 250px;
  margin-top: 15px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #eeeeee52;
  overflow: hidden;


  img,
  .loader,
  .no-selection {
    display: none;
    letter-spacing: .15em;
    font-weight: bold;
  }
  &[data-selected=""]:not(.loading) {
    // background: #eee;
    .no-selection {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  &.loading {
    background: #eee;
    opacity: 0.5;
    .loader {
      display: block;
      animation: loading 1.5s linear;
    }
  }

  img {
    width: 80%;
  }

}
@for $i from 1 through 5 {
  .pfp-images[data-selected="#{$i}"] {
    img[data-image="#{$i}"] {
      display: block;
    }
  }
}

@keyframes loading {
  to {
    letter-spacing: .25em;
  }
}

#edit-button {
  margin-left: 250px;

  width: 100px;
  margin-top: 10px;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 -4px 4px 0 0;
  color: #422800;
  font-family: 'Darumadrop One', cursive;
  cursor: pointer;
  display: inline-block;
  padding: 0 20px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:hover {
    background-color: #fff;
  }

  &:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
}

#username, #usermotto {
  background: none;
  border: none;
  outline: none;
  border-bottom: 2px black solid;

  &:active {
    outline: none;
  }
}

#myAvatar {
  width: 60%;
  height: 60%;
  display: flex;
}