#userIndexBody {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 200px;
    border-right: white;
    border-style: 2px solid;
    background-image: url('../icons/honeycomb.png');
    background-size: contain;
    background-repeat: no-repeat;

    padding: 10px 10px 10px 10px;

    a {
      color: black;
      text-decoration: none;
    }
    
    a:hover {
      color: white;
      text-shadow: -6px 4px 6px rgba(11, 36, 255, 0.77);
      cursor: pointer;
    }

    p {
      padding-top: 30px;
      display: flex;
      flex-wrap: wrap;
      font-family: 'Bungee Shade', cursive;
      font-size: 2rem;
      text-align: center;
    }

    .button-2 {
      margin-top: 60px;
      padding: 15px 30px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      border-radius: 10px;
      display: block;
      border: 0px;
      font-weight: 700;
      box-shadow: 0px 0px 20px -7px #686892;
      background-image: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
      cursor: pointer;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button-2:hover {
      background-position: right center;
      /* change the direction of the change here */
      color: #fff;
      text-decoration: none;
    }
    
    .button-2:active {
      transform: scale(0.95);
    }

    #categories {

      font-family: 'Darumadrop One', cursive;

      ul {
        li {
          display: flex;
          align-items: center;
          height: 100px;
          list-style: none;
          cursor: pointer;
        }

        li:hover {
          color: white;
        }
      }
    }
  }
}



#new-todo-form {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
  margin-right: 50px;

  input {
    font-family: 'Darumadrop One', cursive;
    border: none;
    resize: none;
    outline: none;
    border-bottom: #3a3b43;
    border-bottom-style: solid;
    background-color: transparent;
  }

  button {
    align-self: flex-end;
    width: 80px;
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 -4px 4px 0 0;
    color: #422800;
    font-family: 'Darumadrop One', cursive;
    cursor: pointer;
    display: inline-block;
    padding: 0 20px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  button:hover {
    background-color: #fff;
  }

  button:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: rgb(195, 124, 34);
  background: linear-gradient(288deg, rgba(195, 124, 34, 1) 0%, rgba(253, 187, 45, 1) 100%);

  width: 100%;
  
  #first-page{
    min-height: 100vh;
  }

  p {
    padding-left: 250px;
    padding-top: 50px;
    font-family: 'Darumadrop One', cursive;
    font-size: 3em;
  }

}

#main-todo, #todo-0, #todo-1, #todo-2, #todo-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  margin: 50px 50px 50px 250px;


  box-shadow: -10px 10px 10px 0px black;

  background: rgb(254, 254, 254);
  background: radial-gradient(circle, rgba(254, 254, 254, 1) 0%, rgba(233, 192, 179, 1) 100%);

}

.todo-obj {
  width: 80%;
  height: 50px;
  border-radius: 10px;
  position: relative;
  margin: 20px;
  display: flex;
  align-items: center;
}

.thing {
  display: flex;

  cursor: pointer;
  padding-left: 20px;
  width: 100%;

  span {
    display: flex;
    align-items: center;
    font-family: 'Darumadrop One', cursive;
    padding-left: 5px;
    font-size: 1.30em;
  }
}

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 5px;
  content: url('../icons/bee.png');
}

.clicked {
  content: url("../icons/bee-clicked.png");
}

.clicked-text {
  color: rgb(145, 142, 142);
  text-decoration: line-through;
}

.statement {
  font-family: 'Darumadrop One', cursive;
}

.category {
  display: flex;
  width: 100px;
  font-family: 'Darumadrop One', cursive;
  justify-content: flex-end;
}

#cat-0 {
  min-height: 100vh;
  background-color:#3D348B;
}
#cat-1 {
  min-height: 100vh;
  background: rgb(195, 124, 34);
  background: linear-gradient(288deg, rgba(195, 124, 34, 1) 0%, rgba(253, 187, 45, 1) 100%);
}
#cat-2 {
  min-height: 100vh;
  background-color:#3D348B;
}
#cat-3 {
  min-height: 100vh;
  background: rgb(195, 124, 34);
  background: linear-gradient(288deg, rgba(195, 124, 34, 1) 0%, rgba(253, 187, 45, 1) 100%);
}